<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kh.sample02.like">

	<insert id="insertLike">
		insert into tbl_like (user_id, b_no)
		values (#{user_id}, #{b_no})
	</insert>
	
	<delete id="deleteLike">
		delete from tbl_like
		where user_id = #{user_id}
		and b_no = #{b_no}
	</delete>
	
	<select id="isLike" resultType="int">
		select count(*) from tbl_like
		where user_id = #{user_id}
		and b_no = #{b_no}
	</select>
	
</mapper>